@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>    
</hgroup>
<!--
<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <p>
        <span class="label">Fijo:</span>
        <span>969 696 969</span>
    </p>
    <p>
        <span class="label">Móvil:</span>
        <span>696 969 696</span>
    </p>
</section>
-->
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Soporte:</span>
        <span><a href="mailto:eri.lectura@gmail.com">eri.lectura@gmail.com</a></span>
    </p>
    <!--
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@psicotext.com">General@psicotext.com</a></span>
    </p>
    -->
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Departamento de Psicología Evolutiva <br />
        Facultad de Psicología<br />
        Avda. Blasco Ibañez<br />
        Valencia, España
    </p>
</section>